.container-fluid{
background: rgb(248, 247, 247);
border: 1px solid #DDD;
background: -moz-linear-gradient(top, #EEE, #FFF);    
background: -webkit-linear-gradient(top, #eee, #fff);
background: -ms-linear-gradient(top, #eee, #fff);
background: -o-linear-gradient(top, #eee, #fff);
box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.6em;
   
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }