<div class="container-fluid" style="margin-top: 30px; height:70px">

  <div class="row" style="background-color: rgb(255, 251, 251)">

      <div class="hline-bottom" style="margin-bottom: 20px"></div>
      
    <div class="col-md-1 col-md-offset-1" style="margin-bottom:30px">
      <h4 style="margin-top: 20px">Sonstiges</h4>

      <table class="table">
        <tr>
          <td appHighlight style="cursor: pointer" routerLink="/impressum">Impressum</td>
        </tr>
      </table> 
    </div>
     
    <div class="col-md-3 col-md-offset-1" style="margin-bottom:30px; ">
      <h4>Navigation</h4>

      <table class="table">
        <tr>
          <td></td>
          <td appHighlight routerLink="/home" style="cursor: pointer">Home</td>
          <td appHighlight routerLink="/shopping-cart" style="cursor: pointer">Einkaufswagen</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      
      <table class="table">
        <tr>
          <td></td>
          <td appHighlight routerLink="/categories/coffee" style="cursor: pointer">Kaffee</td>
          <td appHighlight routerLink="/categories/honey" style="cursor: pointer">Honig</td>
          <td appHighlight routerLink="/categories/chocolate" style="cursor: pointer">Schokolade</td>
          <td appHighlight routerLink="/categories/tee" style="cursor: pointer">Tee</td>
        </tr>
      </table>
    </div>

    <div class="col-md-2 col-md-offset-1" style="margin-bottom:30px">
      <h4>Account</h4>

      <table class="table">
        <tr>
          <td appHighlight routerLink="/auth" style="cursor: pointer">Anmeldung</td>
        </tr>
      </table>
    </div>
  </div>
</div>
