<div class="container-fluid" style="margin-bottom:50px">
    <button class="btn btn-secondary" (click)="onRating()" type="button">Produkt bewerten</button>
    <div class="row">
        <div class="h3">Kundenbewertungen</div>
      </div>

  <!-- Form Login for user ratings -->
  <div class="row" *ngIf="isAuthenticated && setRating">



      <h4>Eigene Bewertung</h4>
  
      <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-6 col-md-4">
          <div class="form-group">
            <label for="ratingName">Name</label>
            <input
              type="text"
              id="ratingName"
              class="form-control"
              formControlName="ratingName"
            />
          </div>
  
          <div class="form-group">
            <label for="ratingText">Bewertungstext</label>
            <textarea
              type="text"
              id="ratingText"
              class="form-control"
              formControlName="ratingText"
            ></textarea>
          </div>
  
          <div class="form-group">
            <label for="ratingLevel">Sterne</label>
  
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio0"
                value="0"
              />
              <label class="form-check-label" for="inlineRadio0">0</label>
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio1"
                value="1"
              />
              <label class="form-check-label" for="inlineRadio1">1</label>
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio2"
                value="2"
              />
              <label class="form-check-label" for="inlineRadio2">2</label>
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio3"
                value="3"
              />
              <label class="form-check-label" for="inlineRadio3">3</label>
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio4"
                value="4"
              />
              <label class="form-check-label" for="inlineRadio4">4</label>
              <input
                class="form-check-input"
                type="radio"
                formControlName="ratingLevel"
                id="inlineRadio5"
                value="5"
              />
              <label class="form-check-label" for="inlineRadio5">5</label>
            </div>
          </div>
  
          <div class="col-xs-6 col-md-4">
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Senden</button>
            </div>
          </div>
        </div>
      </form>
    </div>


<!-- Display Ratings from ratingArrayProduct -->

  <div class="row" style="width: 500px">
    <div class="panel panel-default" *ngFor="let rating of ratingArrayProduct">
      <div class="panel-heading">
        {{ rating.ratingName }}
      </div>
      <div class="panel-body">{{ rating.ratingText }}</div>
      
      <!-- Rating Stars -->
      <div class="panel-body">
        <span *ngIf="rating.ratingLevel > 0; else Show1">
          ★
        </span>

        <ng-template #Show1>
          <span>
            ☆
          </span>
        </ng-template>

        <span *ngIf="rating.ratingLevel > 1; else Show1">
          ★
        </span>

        <ng-template #Show1>
          <span>
            ☆
          </span>
        </ng-template>

        <span *ngIf="rating.ratingLevel > 2; else Show1">
          ★
        </span>

        <ng-template #Show1>
          <span>
            ☆
          </span>
        </ng-template>

        <span *ngIf="rating.ratingLevel > 3; else Show1">
          ★
        </span>

        <ng-template #Show1>
          <span>
            ☆
          </span>
        </ng-template>

        <span *ngIf="rating.ratingLevel > 4; else Show1">
          ★
        </span>

        <ng-template #Show1>
          <span>
            ☆
          </span>
        </ng-template>
      </div>
    </div>
  </div>

</div>
