<div class="container-fluid">
  <div class="row">
    <!-- first-container -->
    <div class="col-xs-6 col-sm-3" style="margin-top:20px" >
      <div class="thumbnail" routerLink="/categories/coffee" style="cursor: pointer;">
        <img
          src="{{ tncoffeeImagePath }}"
          alt="Kaffee Bild"
          class="img-responsive"
          style="max-height: 150px"
        />
        <div class="caption">
          <h4>Kaffee</h4>
        </div>
      </div>
    </div>
 
    <!-- second container -->
    <div class="col-xs-6 col-sm-3" style="margin-top:20px">
      <div class="thumbnail" routerLink="/categories/honey" style="cursor: pointer;">
        <img
          src="{{ tnhoneyImagePath }}"
          alt="Honig Bild"
          class="img-responsive"
          style="max-height: 150px"
        />
        <div class="caption">
          <h4>Honig</h4>
        </div>
      </div>
    </div>
    <!-- third-container -->
    <div class="col-xs-6 col-sm-3" style="margin-top:20px" >
      <div class="thumbnail" routerLink="/categories/chocolate" style="cursor: pointer;">
        <img
          src="{{ tnchocolateImagePath }}"
          alt="Kakao Bild"
          class="img-responsive"
          style="max-height: 150px"
        />
        <div class="caption">
          <h4>Schokolade</h4>
        </div>
      </div>
    </div>
    <!-- fourth-container -->
    <div class="col-xs-6 col-sm-3" style="margin-top:20px">
      <div class="thumbnail" routerLink="/categories/tee" style="cursor: pointer;">
        <img 
        src="{{ tnteeImagePath }}" 
        alt="Tee Bild" 
        class="img-responsive"
        style="max-height: 150px"
        />
        <div class="caption">
          <h4>Tee</h4>
        </div>
      </div>
    </div>
  </div>
</div>
